@using Swetugg.Web.Models
@model List<Tag>
@{
    ViewBag.Title = "Tags";
    Conference conference = ViewBag.Conference;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li class="active">Tags</li>
</ol>

<h2>Tags</h2>
<div class="list-group">
    @foreach (var tag in Model)
    {
        @Html.ActionLink(tag.Name, "Edit", new { id = tag.Id }, new { @class = "list-group-item" })
    }
</div>

@Html.ActionLink("New tag", "Edit", new { }, new { @class = "btn btn-primary" })
