@using Swetugg.Web.Models
@model System.Collections.Generic.List<Room>
@{
    ViewBag.Title = "Sessions";
    Conference conference = ViewBag.Conference;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li class="active">Rooms</li>
</ol>

<h2>Rooms</h2>
<div class="list-group">
    @foreach (var room in Model)
    {
        @Html.ActionLink(room.Name, "Edit", new {id = room.Id }, new {@class = "list-group-item"})
    }
</div>

@Html.ActionLink("New room", "Edit", new {}, new { @class = "btn btn-primary"})
