@using Swetugg.Web.Models
@model Speaker
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Speaker - Edit";
    Conference conference = ViewBag.Conference;
    var buttonLabel = "Create";

    var id = Model != null && Model.Id != 0 ? (int?)Model.Id : null;
    if (id != null)
    {
        buttonLabel = "Update";
    }
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li>@Html.ActionLink("Speakers", "Index", "SpeakerAdmin")</li>
    @if (id != null)
    {
        <li>@Html.ActionLink(Model.Name, "Speaker", "SpeakerAdmin", new { id })</li>
    }
    <li class="active">@buttonLabel</li>
</ol>

@Html.ValidationSummary()

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Speaker</h3>
    </div>
    @using (Html.BeginForm("Edit", "SpeakerAdmin", new { id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Company)
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Company)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Twitter)
                        <div class="input-group">
                            <div class="input-group-addon">@@</div>
                            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Twitter)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Web)
                        @Html.TextBoxFor(m => m.Web, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Web)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Bio)
                        @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", rows = 10 })
                        @Html.ValidationMessageFor(m => m.Bio)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Publish settings
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Published)
                                        @Html.DisplayNameFor(m => m.Published)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Slug)
                                @Html.TextBoxFor(m => m.Slug, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Slug)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Priority, "Priority")
                                @Html.TextBoxFor(m => m.Priority, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Priority)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@buttonLabel</button>
        </div>
    }
</div>
