@using Swetugg.Web.Models
@model List<Speaker>
@{
    ViewBag.Title = "Speakers";
    Conference conference = ViewBag.Conference;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li class="active">Speakers</li>
</ol>

<h2>Speakers</h2>
<div class="list-group">
    @foreach (var speaker in Model)
    {
        <a href="@Url.Action("Speaker", new {id = speaker.Id })" class="list-group-item">
            @Common.GetPublished(speaker.Published)
            @speaker.Name
        </a>
    }
</div>

@Html.ActionLink("New speaker", "Edit", new { }, new { @class = "btn btn-primary" })
