@using System.Collections
@using System.Globalization
@using Swetugg.Web.Helpers
@using Swetugg.Web.Models
@model Speaker
@{
    ViewBag.Title = "Speaker";
    Conference conference = ViewBag.Conference;
    var imageTypes = (IEnumerable<ImageType>)ViewBag.ImageTypes;
    var errorMsg = ViewBag.ErrorMessage;

}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li>@Html.ActionLink("Speakers", "Index")</li>
    <li class="active">@Model.Name</li>
</ol>
@if (!string.IsNullOrEmpty(errorMsg))
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @errorMsg
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            @Common.GetPublished(Model.Published)
            @Model.Name
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <p>@Html.Raw(Html.FromMarkdown(Model.Bio))</p>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sessions</div>
                    </div>
                    <div class="list-group">
                        @foreach (var session in Model.Sessions.Select(s => s.Session))
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(session.Name, "Session", "SessionAdmin", new { session.Id }, null)
                            </div>
                        }
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Images</div>
                    </div>
                    <div class="list-group">
                        @foreach (var image in Model.Images)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(image.ImageType.Name, "Image", "SpeakerAdmin", new { image.Id, SpeakerId = Model.Id }, null)
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        @using (Html.BeginForm("NewImage", "SpeakerAdmin", new { SpeakerId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.DropDownList("ImageTypeId",
                                    imageTypes.Select(it => new SelectListItem() { Text = it.Name, Value = it.Id.ToString(CultureInfo.InvariantCulture) }),
                                    new { @class = "form-control" })
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="btn btn-default" for="imageFileSelector">
                                            <input id="imageFileSelector" name="ImageFile" type="file" style="display: none;">
                                            Select image...
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })

        <a href="" class="btn btn-danger pull-right"
           data-confirm-form="#deleteSpeakerForm"
           data-modal-title="Are you sure?"
           data-modal-message="This will delete the speaker."
           data-toggle="modal" data-target="#formConfirmationModal"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>


        @using (Html.BeginForm("Delete", "SpeakerAdmin", new { id = Model.Id }, FormMethod.Post, new { @class = "pull-right", id = "deleteSpeakerForm" }))
        {
            @Html.AntiForgeryToken()
        }

    </div>
</div>