@using Swetugg.Web.Models
@model List<Sponsor>
@Html.AntiForgeryToken()
@{
    Conference conference = ViewBag.Conference;
    ViewBag.Title = "Sponsors";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li class="active">Sponsors</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3>Sponsors</h3>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Published</dt>
                    <dd>@Model.Count(m => m.Published)</dd>
                    <dt>Total</dt>
                    <dd>@Model.Count()</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="list-group">
        @foreach (var sponsor in Model)
        {
            <a href="@Url.Action("Sponsor", new { id = sponsor.Id })" class="list-group-item">
                @await Html.PartialAsync("_PublishedIcon", sponsor.Published)
                @sponsor.Name
            </a>
        }
    </div>
</div>
@Html.ActionLink("New sponsor", "Edit", new { }, new { @class = "btn btn-primary" })
