@using System.Globalization
@using Swetugg.Web.Models
@model Sponsor
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Sponsor";
    Conference conference = ViewBag.Conference;
    var imageTypes = (IEnumerable<ImageType>)ViewBag.ImageTypes;
    var errorMsg = ViewBag.ErrorMessage;
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li>@Html.ActionLink("Sponsors", "Index")</li>
    <li class="active">@Model.Name</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            @await Html.PartialAsync("_PublishedIcon", Model.Published)
            @Model.Name
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <p>@Model.Description</p>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Images</div>
                    </div>
                    <div class="list-group">
                        @foreach (var image in Model.Images)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(image.ImageType.Name, "Image", "SponsorAdmin", new { image.Id, SponsorId = Model.Id }, null)
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        @using (Html.BeginForm("NewImage", "SponsorAdmin", new { SponsorId = Model.Id }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.DropDownList("ImageTypeId",
                                    imageTypes.Select(it => new SelectListItem() { Text = it.Name, Value = it.Id.ToString(CultureInfo.InvariantCulture) }),
                                    new { @class = "form-control" })
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="btn btn-default" for="imageFileSelector">
                                            <input id="imageFileSelector" name="ImageFile" type="file" style="display: none;">
                                            Select image...
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })

        <a href="" class="btn btn-danger pull-right"
           data-confirm-form="#deleteSponsorForm"
           data-modal-title="Are you sure?"
           data-modal-message="This will delete the sponsor."
           data-toggle="modal" data-target="#formConfirmationModal"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>

        @using (Html.BeginForm("Delete", "SponsorAdmin", new { id = Model.Id }, FormMethod.Post, true, new { @class = "pull-right", id = "deleteSponsorForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
</div>
