@using Swetugg.Web.Helpers
@using Swetugg.Web.Models
@model CfpSession

@{
    ViewBag.Title = "Call For Papers - Session";
    Conference conference = ViewBag.Conference;
    CfpSpeaker speaker = ViewBag.Speaker;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new {Area = ""}, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new {conference.Id}, null)</li>
    <li>@Html.ActionLink("Call For Papers", "Index")</li>
    <li>@Html.ActionLink(speaker.Name, "Speaker", new {id = speaker.Id})</li>
    <li class="active">@Model.Name</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            @if (Model.Session != null)
            {
                <a href="@Url.Action("Session", "SessionAdmin", new { id = Model.Session.Id })" class="pull-right">
                    <i class="glyphicon glyphicon-link"></i>
                </a>
            }

            @Model.Name
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                @Html.Raw(Html.FromMarkdown(Model.Description))
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Information</div>
                    </div>
                    <div class="panel-body">
                        @if (Model.SessionType != null)
                        {
                            <dl>
                                <dt>Session Type</dt>
                                <dd>@Model.SessionType.Name</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            <dl>
                                <dt>Tags</dt>
                                <dd>@Model.Tags</dd>
                            </dl>
                        }

                        @if (!string.IsNullOrEmpty(Model.Audience))
                        {
                            <dl>
                                <dt>Audience</dt>
                                <dd>@Model.Audience</dd>
                            </dl>
                        }

                        @if (!string.IsNullOrEmpty(Model.Level))
                        {
                            <dl>
                                <dt>Level</dt>
                                <dd>@Model.Level</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Comments))
                        {
                            <dl>
                                <dt>Comments</dt>
                                <dd>@Model.Comments</dd>
                            </dl>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @if (Model.LastUpdate != null)
        {
            var confTime = conference.ConvertDateTime(Model.LastUpdate.Value);

            <div class="text-right">Last updated: @confTime.ToShortDateString() @confTime.ToShortTimeString()</div>
        }
    </div>
</div>