@using System.Globalization
@using Swetugg.Web.Models
@model Session
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Session - Edit";
    Conference conference = ViewBag.Conference;
    var buttonLabel = "Create";

    var id = Model != null && Model.Id != 0 ? (int?)Model.Id : null;
    if (id != null)
    {
        buttonLabel = "Update";
    }
    var sessionTypes = (IEnumerable<SessionType>)ViewBag.SessionTypes;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li>@Html.ActionLink("Sessions", "Index", "SessionAdmin")</li>
    @if (id != null)
    {
        <li>@Html.ActionLink(Model.Name, "Session", "SessionAdmin", new { id })</li>
    }
    <li class="active">@buttonLabel</li>
</ol>

@Html.ValidationSummary()

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Session</h3>
    </div>
    @using (Html.BeginForm("Edit", "SessionAdmin", new { id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SessionizeId);
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 10 })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SessionType)
                        @Html.DropDownList("SessionTypeId",
                            sessionTypes.Select(it => new SelectListItem() { Text = it.Name, Value = it.Id.ToString(CultureInfo.InvariantCulture) }),
                            new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.VideoUrl)
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control" })
                            <span class="input-group-addon">
                                @Html.CheckBoxFor(m => m.VideoPublished)
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.VideoUrl)

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Publish settings
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Published)
                                        @Html.DisplayNameFor(m => m.Published)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Slug)
                                @Html.TextBoxFor(m => m.Slug, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Slug)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Priority, "Priority")
                                @Html.TextBoxFor(m => m.Priority, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Priority)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@buttonLabel</button>
        </div>
    }
</div>
