@using Swetugg.Web.Models
@using Swetugg.Web.Helpers
@model CfpSpeaker

@{
    Conference conference = ViewBag.Conference;

    ViewBag.Title = conference.Name + " - Call For Papers";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Call For Papers", "Index", "CallForPapers", new { Area = "Cfp" }, null)</li>
    <li class="active">@conference.Name</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@conference.Name</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <img src="@Model.Image" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6">
                <h3>@Model.Name</h3>
                <p>@Html.Raw(Html.FromMarkdown(Model.Bio))</p>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sessions</div>
                    </div>
                    <div class="list-group">
                        @foreach (var session in Model.Sessions)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(session.Name, "Session", "CallForPapers", new { id = session.Id }, null)
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("Add", "Session", "CallForPapers", null, new { @class = "btn btn-default" })
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Information</div>
                    </div>
                    <div class="panel-body">
                        @if (!string.IsNullOrEmpty(Model.Twitter))
                        {
                            <dl>
                                <dt>Company</dt>
                                <dd>@Model.Company</dd>
                            </dl>
                        }

                        @if (!string.IsNullOrEmpty(Model.Twitter))
                        {
                            <dl>
                                <dt>Twitter</dt>
                                <dd><a href="https://twitter.com/@Model.Twitter">@@@Model.Twitter</a></dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <dl>
                                <dt>Email</dt>
                                <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Phone))
                        {
                            <dl>
                                <dt>Phone</dt>
                                <dd>@Model.Phone</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Web))
                        {

                            <dl>
                                <dt>Web</dt>
                                <dd><a href="@Model.Web.EnsureHttpLink()">@Model.Web</a></dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.GitHub))
                        {
                            <dl>
                                <dt>GitHub</dt>
                                <dd><a href="https://github.com/@Model.GitHub">@Model.GitHub</a></dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.Comments))
                        {
                            <dl>
                                <dt>Comments</dt>
                                <dd>@Model.Comments</dd>
                            </dl>
                        }

                        @if (!string.IsNullOrEmpty(Model.CountryOfResidence))
                        {
                            <dl>
                                <dt>Country of Residence</dt>
                                <dd>@Model.CountryOfResidence</dd>
                            </dl>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Edit", "Speaker", new { }, new { @class = "btn btn-default" })

        <a href="" class="btn btn-danger pull-right"
           data-confirm-form="#deleteForm"
           data-modal-title="Are you sure?"
           data-modal-message="This will delete all your submission data including any sessions you have entered."
           data-toggle="modal" data-target="#formConfirmationModal"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
    </div>
</div>

@using (Html.BeginForm("DeleteSpeaker", "CallForPapers", new { conferenceSlug = conference.Slug }, FormMethod.Post, true, new { id = "deleteForm", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
}
