@using System.Globalization
@using Swetugg.Web.Models
@model Swetugg.Web.Models.CfpSession

@{
    Conference conference = ViewBag.Conference;
    CfpSpeaker speaker = ViewBag.Speaker;
    var sessionTypes = (IEnumerable<SessionType>)ViewBag.SessionTypes;
    ViewBag.Title = conference.Name + " - Call For Papers - " + speaker.Name;
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new {Area = ""}, null)</li>
    <li>@Html.ActionLink("Call For Papers", "Index", "CallForPapers", new {Area = "Cfp"}, null)</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "CallForPapers", new {Area = "Cfp", conferenceSlug = conference.Slug}, null)</li>
    <li class="active">Session</li>
</ol>

@Html.ValidationSummary()

@helper Popover(string title, string content)
{
    <a class=""
       href=""
       onclick="return false"
       data-toggle="popover"
       data-placement="top"
       data-trigger="hover"
       title="@title"
       data-html="true"
       data-content="@content"><i class="glyphicon glyphicon-info-sign"></i></a>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Session information</h3>
    </div>

    @using (Html.BeginForm(new {id = Model.Id}))
    {
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SessionType)
                        @Html.DropDownList("SessionTypeId",
                            sessionTypes.Select(it => new SelectListItem() { Text = it.Name, Value = it.Id.ToString(CultureInfo.InvariantCulture) }),
                            new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Popover("Description", "Please write the session description in the language you will be presenting. ")
                        @Html.TextAreaFor(m => m.Description, new {@class = "form-control", rows = 18})
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">More info</div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Tags)
                                @Popover("Tags", "Comma-separated list of suitable tags for your session. <br />Example 'asp.net, c#, architecture'")
                                @Html.TextBoxFor(m => m.Tags, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Tags)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Audience)
                                @Popover("Intended audience", "Who should come see your session? <br />Example 'Developers, Architects'")
                                @Html.TextBoxFor(m => m.Audience, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Audience)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Level)
                                @Popover("Difficulty level", @"What level is your session? <br />Example 'Introduction', 'Intermediate', 'Advanced'")
                                @Html.TextBoxFor(m => m.Level, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Level)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Comments)
                                @Popover("Other comments to the organizers", "Are you more than one speaker? Do you need special props? Anything else we should know about?")
                                @Html.TextAreaFor(m => m.Comments, new {@class = "form-control", rows = 6})
                                @Html.ValidationMessageFor(m => m.Comments)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            @if (Model.Id != 0)
            {
                <a href="" class="btn btn-danger pull-right"
                   data-confirm-form="#deleteForm"
                   data-modal-title="Are you sure?"
                   data-modal-message="This will delete the session."
                   data-toggle="modal" data-target="#formConfirmationModal"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
            }
        </div>
    }

</div>

@using (Html.BeginForm("DeleteSession", "CallForPapers", new {confernceSlug = conference.Slug, id = Model.Id}, FormMethod.Post, new {id = "deleteForm", @class = "form-inline"}))
{

}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}
