@using Microsoft.AspNetCore.Mvc.Razor
@using Swetugg.Web.Models
@model Swetugg.Web.Models.CfpSpeaker
@{
    Conference conference = ViewBag.Conference;

    ViewBag.Title = conference.Name + " - Call For Papers - Speaker";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Call For Papers", "Index", "CallForPapers", new { Area = "Cfp" }, null)</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "CallForPapers", new { Area = "Cfp", conferenceSlug = conference.Slug }, null)</li>
    <li class="active">Speaker</li>
</ol>

@Html.ValidationSummary()

@{ HelperResult Popover(string title, string content)
	{
	    <a class=""
	       href=""
	       onclick="return false"
	       data-toggle="popover"
	       data-placement="top"
	       data-trigger="hover"
	       title="@title"
	       data-html="true"
	       data-content="@content"><i class="glyphicon glyphicon-info-sign"></i></a>
		return new HelperResult(w => Task.CompletedTask);
} }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Speaker information</h3>
        </div>

        @using (Html.BeginForm("Speaker", "CallForPapers", new { id = Model.Id }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Company)
                            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Company)
                        </div>
                        <div class="form-group">
                            <label class="btn btn-primary" for="speakerImageFileSelector">
                                <input id="speakerImageFileSelector" name="ImageFile" type="file" style="display: none;">
                                Select image file...
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Bio)
                            @Popover("Biography", "A description of yourself, written in the third person.")
                            @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", rows = 10 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Comments)
                            @Popover("More information", "Any links to previous talks we could look at?<br/>Any other information that may be useful for the organizers?")
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", rows = 6 })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Contact info</div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone)
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Phone)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Web)
                                    @Html.TextBoxFor(m => m.Web, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Web)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Twitter)
                                    <div class="input-group">
                                        <div class="input-group-addon">@@</div>
                                        @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Twitter)
                                </div>
                                @*
                                <div class="form-group">
                                    @Html.LabelFor(m => m.GitHub)
                                    <div class="input-group">
                                        <div class="input-group-addon">github.com/</div>
                                        @Html.TextBoxFor(m => m.GitHub, new {@class = "form-control"})
                                    </div>
                                    @Html.ValidationMessageFor(m => m.GitHub)
                                </div>
                                *@
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Travel</div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CountryOfResidence)
                                    @Html.TextBoxFor(m => m.CountryOfResidence, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CountryOfResidence)
                                </div>
                                <p>
                                    Would you like us to cover travel and/or accommodation?
                                    @Popover("Travel", "Note that for speakers located in Sweden, travel costs will NOT be a factor during selection. ")
                                </p>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.NeedTravel)
                                        Travel
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.NeedAccommodation)
                                        Accommodation
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <em>Make sure that you have read and agree to abide by our <a href="@Url.Action("CodeOfConduct", "Home", new { Area="" })" target="_blank">Code of Conduct</a></em>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}
