@using System.Globalization
@using Swetugg.Web.Models
@{
    ViewBag.Title = "Swetugg - the .NET conference, by .NET developers, for .NET developers";
    ViewBag.TransformNavBar = true;

    Conference conference = ViewBag.Conference;

    IEnumerable<Slot> slots = ViewBag.Slots;
    if (slots == null)
    {
        slots = new List<Slot>();
    }
    IEnumerable<Room> rooms = ViewBag.Rooms;
    if (rooms == null)
    {
        rooms = new List<Room>();
    }
    IEnumerable<Sponsor> sponsors = ViewBag.Sponsors;
    if (sponsors == null)
    {
        sponsors = new List<Sponsor>();
    }
    IEnumerable<Speaker> speakers = ViewBag.Speakers;
    if (speakers == null)
    {
        speakers = new List<Speaker>();
    }
    IEnumerable<Session> sessions = ViewBag.Sessions;
    if (sessions == null)
    {
        sessions = new List<Session>();
    }
    IDictionary<int, IDictionary<string, SpeakerImage>> speakerImages = ViewBag.SpeakerImages;
    if (speakerImages == null)
    {
        speakerImages = new Dictionary<int, IDictionary<string, SpeakerImage>>();
    }
    int totalNumberOfSpeakers = conference.MinNumberOfSpeakers;
    var speakersLeft = totalNumberOfSpeakers - speakers.Count();

    string ticketUrl = ViewBag.TicketUrl;
    string ticketKey = ViewBag.TicketKey;
    string sponsorTicketKey = ViewBag.SponsorTicketKey;
    bool ticketSalesOpen = ViewBag.TicketSalesOpen;
    bool conferenceOngoing = ViewBag.ConferenceOngoing;
}

<section class="intro">
    <div class="intro-body">
        @*		<video id="videoBackground" preload="auto" autoplay="" loop="" muted="" poster="~/Content/sthlm-2023/img/swetugg-hero-video-firstframe.jpg">
                <source src="~/Content/sthlm-2023/video/swetugg-hero-video-low.mp4" type="video/mp4" />
            </video>
        *@		<div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Swetugg <small>Stockholm</small></h1>
                    <p class="intro-text">
                        by .NET developers, for .NET developers, <br />
                        8-9 February 2023
                    </p>
                    @if (conferenceOngoing)
                    {
                        <p>
                            <a href="/sthlm-2023/now" class="btn btn-default btn-lg">Live-schedule</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="previousLinks" class="odd-section content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">This is Swetugg</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    Swetugg started from a vision of a .NET conference having great content while still being affordable.
                </p>
                <p>
                    We aim to cover things that are relevant to you as a developer in the .NET realm, no matter if you are just starting your journey or have been writing code since the beginning of unix time.
                    We strive for a diverse program, which means we work hard on presenting a broad spectrum of speakers and topics for you to choose from. This means the program usually covers topics ranging wide: from human skills to very technical skills.
                </p>
                <p>
                    Swetugg is run by a group of volunteers with different IT backgrounds with a common denominator: A passion for creating good software and better software developers.
                </p>
                <p><a href="#tickets" class="btn btn-default btn-lg">Get tickets!</a></p>
            </div>
        </div>

        @*<div class="row text-center space-at-bottom">
                <div class="col-lg-6">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9L2GG7k4j0M" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <a href="https://www.flickr.com/photos/swetugg/albums/with/72157669362129259" target="_blank"><img src="~/Content/sthlm-2023/img/swetugg_flickr2018.jpg" alt="Swetugg Flickr" class="img-responsive flickr-link" /></a>
                </div>
            </div>*@
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    Looking for information or sessions from previous years? All material is archived here:
                </p>
                <ul class="list-inline banner-buttons">
                    <li>
                        <a href="/swetugg-2015" class="btn btn-default btn-lg">2015</a>
                    </li>
                    <li>
                        <a href="/swetugg-2016" class="btn btn-default btn-lg">2016</a>
                    </li>
                    <li>
                        <a href="/swetugg-2017" class="btn btn-default btn-lg">2017</a>
                    </li>
                    <li>
                        <a href="/swetugg-2018" class="btn btn-default btn-lg">2018</a>
                    </li>
                    <li>
                        <a href="/swetugg-2019" class="btn btn-default btn-lg">2019</a>
                    </li>
                    <li>
                        <a href="/sthlm-2020" class="btn btn-default btn-lg">Stockholm 2020</a>
                    </li>
                    <li>
                        <a href="/gbg-2022" class="btn btn-default btn-lg">Göteborg 2022</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row margin-top">
            <div class="blockquote-container col-lg-4">
                <blockquote class="blockquote blockquote-small">
                    <p>&ldquo;Well organized and you can feel that there are very dedicated people working hard to make it happen! I like the fact that it is kind of low key with focus on the speakers. No fancy key note and stuff which I appreciate. Very good value for money!&bdquo;</p>
                    <footer class="blockquote-footer">Attendee Stockholm 2020</footer>
                </blockquote>
            </div>
            <div class="blockquote-container col-lg-4">
                <blockquote class="blockquote blockquote-small">
                    <p>&ldquo;Fun, thoughtful and hardworking organizers. Wonderful treatment. Very diverse speaker and audience. Well organized activities. Professional. Safe and inclusive enviroment&bdquo;</p>
                    <footer class="blockquote-footer">Speaker at Stockholm 2020</footer>
                </blockquote>
            </div>
            <div class="blockquote-container col-lg-4">
                <blockquote class="blockquote blockquote-small">
                    <p>&ldquo;Good conference with lots of good and inspiring sessions. Great place too meet and mingle with people in the industry. &bdquo;</p>
                    <footer class="blockquote-footer">Sponsor of Swetugg Stockholm 2020</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section id="sponsor" class="even-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sponsors</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    Your organization can get in touch with hundreds of great software developers by becoming an exhibitor or a digital sponsor. It's an amazing opportunity!
                </p>
                <p>
                    <a href="sthlm-2023/sponsorship" class="btn btn-default btn-lg">See our sponsorship packages</a>
                </p>
                @*<p>
                    Swetugg Events is a non-profit organization. This means the conference would not be possible without the help of our amazing sponsors.
                </p>*@
            </div>
        </div>
        @{
            var exhibitors = sponsors.Where(s => s.Priority < 100).ToArray();
            var supportSponsors = sponsors.Where(s => s.Priority >= 100 && s.Priority < 200).ToArray();
            var podcasts = sponsors.Where(s => s.Priority >= 200).ToArray();
        }
        @if (exhibitors.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="subTitle">Exhibitors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="logo-collection">

                        @foreach (var sponsor in exhibitors)
                        {
                            var imgUrl = sponsor.Images.FirstOrDefault(i => i.ImageType.Slug == "sponsor-thumb")?.ImageUrl;
                            if (imgUrl == null)
                            {
                                imgUrl = "/Content/sthlm-2023/img/sponsors/" + sponsor.Slug + "-thumb.png";
                            }

                            <li>
                                <a href="@sponsor.Web">
                                    <img class="sponsor-image" src="@imgUrl" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        @if (supportSponsors.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="subTitle">Supporters</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="logo-collection">

                        @foreach (var sponsor in supportSponsors)
                        {
                            var imgUrl = sponsor.Images.FirstOrDefault(i => i.ImageType.Slug == "sponsor-thumb")?.ImageUrl;
                            if (imgUrl == null)
                            {
                                imgUrl = "/Content/sthlm-2023/img/sponsors/" + sponsor.Slug + "-thumb.png";
                            }

                            <li>
                                <a href="@sponsor.Web">
                                    <img class="sponsor-image" src="@imgUrl" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (podcasts.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="subTitle">Podcasts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="logo-collection">

                        @foreach (var sponsor in podcasts)
                        {
                            var imgUrl = sponsor.Images.FirstOrDefault(i => i.ImageType.Slug == "sponsor-thumb")?.ImageUrl;
                            if (imgUrl == null)
                            {
                                imgUrl = "/Content/sthlm-2023/img/sponsors/" + sponsor.Slug + "-thumb.png";
                            }

                            <li>
                                <a href="@sponsor.Web">
                                    <img class="sponsor-image" src="@imgUrl" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</section>


@if (speakers.Any())
{
    <section id="speakers" class="odd-section content-section text-center">
        <div class="program-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="noSubtitle">Speakers</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <ul class="photo-collection">
                            @foreach (var speaker in @speakers)
                            {
                                var tagClasses = speaker.Tags.Select(t => "tag-" + t.Slug).ToArray();

                                <li>
                                    <a href="@Url.Action("Speaker", "Conference", new {speakerSlug = speaker.Slug})">
                                        @{
                                            string imageUrl = "/Content/sthlm-2023/SpeakerPictures/" + speaker.Slug + ".png";
                                            IDictionary<string, SpeakerImage> imgLookup;
                                            if (speakerImages.TryGetValue(speaker.Id, out imgLookup))
                                            {
                                                SpeakerImage speakerImage;
                                                if (imgLookup.TryGetValue("thumb", out speakerImage))
                                                {
                                                    imageUrl = speakerImage.ImageUrl;
                                                }
                                            }
                                        }
                                        <div class="photo">
                                            @foreach (var tagClass in tagClasses)
                                            {
                                                <span class="@tagClass"></span>
                                            }
                                            <img class="img-circle" src="@imageUrl" />
                                        </div>
                                        <div>
                                            @speaker.Name
                                        </div>
                                    </a>
                                </li>
                            }
                            @for (int i = 0; i < speakersLeft; i++)
                            {
                                <li>
                                    <img class="img-circle" src="/Content/sthlm-2023/img/unknown.png" />
                                    <div>

                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section id="speakers" class="odd-section content-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="noSubtitle">Call for Speakers/Papers</h1>
                </div>
            </div>
            @if (conference.IsCfpOpen())
            {
                <div class="row text-center ">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Would you like to be one of our speakers? Register your session(s) on our CFP via Sessionize page before October 10th.</p>
                        <ul class="list-inline banner-buttons">
                            <li>
                                <a href="https://sessionize.com/swetugg-stlm-2023" class="btn btn-default btn-lg">Call for Speakers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                @*
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p>
                                We will open up our call for speakers shortly. If you want to be added to our speaker mailing list or have any questions regarding
                                speaking at Swetugg, don't hesitate to send us an email at <a href="mailto:speak@swetugg.se">speak@swetugg.se</a>.
                            </p>
                        </div>
                    </div>
                *@
                @*<div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p>
                                Our Call for Speakers for Swetugg Stockholm 2023 has ended.
                            </p>
                            <p>
                                <em>Help, I missed the Call for Speakers!</em><br />
                                There may still be a couple of vacant slots, so feel free to email us at <a href="mailto:speak@swetugg.se">speak@swetugg.se</a>
                                and let us know what you'd like to talk about.
                            </p>
                            <p>
                                <em>When will I be notified?</em><br />
                                We will get back to everyone who entered the open call for speakers before October 20th.
                            </p>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="text-center">
                            We have started to select our speakers and will start publishing them soon.
                        </p>
                    </div>
                </div>
            }
        </div>
    </section>
}

@*<section id="sessions" class="even-section content-section">
    <div class="program-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="noSubtitle">Sessions</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <ul class="sessions">
                            @foreach (var session in sessions.Where(s => s.Published))
                            {
                                var sessionSpeakers = session.Speakers.Select(s => s.Speaker);
                                <li>
                                    <a href="@Url.Action("Speaker", new {speakerSlug = sessionSpeakers.First().Slug})#@session.Slug">@session.Name</a>
                                    <ul class="sessions-speakers">
                                        @foreach (var speaker in sessionSpeakers)
                                        {
                                            string imageUrl = "/Content/sthlm-2023/SpeakerPictures/" + speaker.Slug + ".png";
                                            IDictionary<string, SpeakerImage> imgLookup;
                                            if (speakerImages.TryGetValue(speaker.Id, out imgLookup))
                                            {
                                                SpeakerImage speakerImage;
                                                if (imgLookup.TryGetValue("thumb", out speakerImage))
                                                {
                                                    imageUrl = speakerImage.ImageUrl;
                                                }
                                            }
                                            <li><img class="img-circle" src="@imageUrl" />@Html.ActionLink(speaker.Name, "Speaker", new { speakerSlug = speaker.Slug })</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</section>*@

<section id="schedule" class="even-section content-section">
        <div class="schedule-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="noSubtitle">Schedule</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        @foreach (var day in slots.GroupBy(s => s.Start.Date))
                        {
                            var width = 90 / rooms.Count();

                            <h2>@day.Key.ToString("dddd, yyyy-MM-dd")</h2>
                            <table class="table schema rwd-table">
                                <thead>
                                    <tr>

                                        <th style="width: 10%">Time</th>

                                        @foreach (var room in rooms)
                                        {
                                            <th style="width: @width%">@room.Name</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var slot in day)
                                    {

                                        if (string.IsNullOrEmpty(slot.Title))
                                        {
                                            <tr>
                                                <th style="display: table-cell; text-align: center; width: 60px;">
                                                    @slot.Start.ToString("HH:mm")<br />|<br />@slot.End.ToString("HH:mm")
                                                </th>

                                                @foreach (var room in rooms)
                                                {
                                                    var roomSlot = slot.RoomSlots.SingleOrDefault(rs => rs.RoomId == room.Id && (rs.AssignedSession == null || rs.AssignedSession.Published));
                                                    bool isChanged = roomSlot != null && roomSlot.IsChanged;
                                                    string changedClass = isChanged ? "changed" : "unchanged";
                                                    var session = roomSlot != null ? roomSlot.AssignedSession : null;
                                                    if (roomSlot != null)
                                                    {
                                                        <td data-th="@room.Name" class="@changedClass">
                                                            <div class="schemacell">
                                                                @if (isChanged)
                                                                {
                                                                    <span class="pull-right glyphicon glyphicon-info-sign"></span>
                                                                }
                                                                @if (session != null)
                                                                {
                                                                    var sessionSpeakers = session.Speakers.Select(s => s.Speaker).ToList();
                                                                    if (sessionSpeakers.Count > 0)
                                                                    {
                                                                        var firstSpeaker = sessionSpeakers.First();
                                                                        <a href="@Url.Action("Speaker", new {speakerSlug = firstSpeaker.Slug})#@session.Slug">
                                                                            <div class="schemacell-rad1v2">
                                                                                @session.Name
                                                                            </div>
                                                                        </a>
                                                                        <div class="schemacell-rad2v2">
                                                                            @foreach (var speaker in sessionSpeakers)
                                                                            {
                                                                                @Html.ActionLink(speaker.Name, "Speaker", new { speakerSlug = speaker.Slug })<br />
                                                                            }
                                                                        </div>
                                                                    }
                                                                    var tags = session.Tags;
                                                                    foreach (var tag in tags.Where(t => t.Featured))
                                                                    {
                                                                        <span class="label label-default" data-toggle="tooltip" data-placement="right" title="@tag.Description">@tag.Name</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="schemacell-rad2">
                                                                        (no session)
                                                                    </div>
                                                                }
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td data-th="@room.Name">
                                                            <div class="schemacell">
                                                                <div class="schemacell-rad2">
                                                                    Not yet available
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            if (slot.HasSessions)
                                            {
                                                <tr>
                                                    <th rowspan=3 class="all-rooms" style="display: table-cell; text-align: center; text-anchor:start; width: 60px;">
                                                        @slot.Start.ToString("HH:mm")<br />|<br />@slot.End.ToString("HH:mm")
                                                    </th>

                                                    <td class="all-rooms" colspan="@rooms.Count()">
                                                        <div>@slot.Title</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    @foreach (var room in rooms)
                                                    {
                                                        var roomSlot = slot.RoomSlots.SingleOrDefault(rs => rs.RoomId == room.Id && (rs.AssignedSession == null || rs.AssignedSession.Published));
                                                        bool isChanged = roomSlot != null && roomSlot.IsChanged;
                                                        string changedClass = isChanged ? "changed" : "unchanged";
                                                        var session = roomSlot != null ? roomSlot.AssignedSession : null;
                                                        if (roomSlot != null)
                                                        {
                                                            <td data-th="@room.Name" class="@changedClass">
                                                                <div class="schemacell">
                                                                    @if (isChanged)
                                                                    {
                                                                        <span class="pull-right glyphicon glyphicon-info-sign"></span>
                                                                    }
                                                                    @if (session != null)
                                                                    {
                                                                        var sessionSpeakers = session.Speakers.Select(s => s.Speaker).ToList();
                                                                        if (sessionSpeakers.Count > 0)
                                                                        {
                                                                            if (@roomSlot.Start.HasValue)
                                                                            {
                                                                                <span class="schemacell-tid">@roomSlot.Start.Value.ToString("HH:mm") - @roomSlot.End.Value.ToString("HH:mm")</span>
                                                                            }
                                                                            var firstSpeaker = sessionSpeakers.First();
                                                                            <a href="@Url.Action("Speaker", new {speakerSlug = firstSpeaker.Slug})#@session.Slug">
                                                                                <div class="schemacell-rad1v2">
                                                                                    @session.Name
                                                                                </div>
                                                                            </a>
                                                                            <div class="schemacell-rad2v2">
                                                                                @foreach (var speaker in sessionSpeakers)
                                                                                {
                                                                                    @Html.ActionLink(speaker.Name, "Speaker", new { speakerSlug = speaker.Slug })<br />
                                                                                }
                                                                            </div>
                                                                        }
                                                                        var tags = session.Tags;
                                                                        foreach (var tag in tags.Where(t => t.Featured))
                                                                        {
                                                                            <span class="label label-default" data-toggle="tooltip" data-placement="right" title="@tag.Description">@tag.Name</span>
                                                                        }
                                                                    }
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="all-rooms" colspan="@rooms.Count()">
                                                        <div>@slot.Title</div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th class="all-rooms" style="display: table-cell; text-align: center; width: 60px;">
                                                        @slot.Start.ToString("HH:mm")<br />|<br />@slot.End.ToString("HH:mm")
                                                    </th>

                                                    <td class="all-rooms" colspan="@rooms.Count()">
                                                        <div>@slot.Title</div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        }

                        <p class="schema-disclaimer">
                            The schedule may be subject to change.
                            <!--<span class="glyphicon glyphicon-info-sign"></span>
                            Förändrat sedan schemat trycktes-->

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="tickets" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Tickets</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                @if (ticketSalesOpen)
                {
                    <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
                    <div class="tt-widget">
                        <div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/checkout/new-session/id/1748910/chk/44cb/" target="_blank">Click here to buy tickets</a><br /><small><a href="https://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div>
                        <script src="https://cdn.tickettailor.com/js/widgets/min/widget.js" data-url="https://www.tickettailor.com/checkout/new-session/id/1748910/chk/44cb/" data-type="inline" data-inline-minimal="false" data-inline-show-logo="true" data-inline-bg-fill="true"></script>
                    </div>
                    <!-- End of Ticket Tailor Widget -->
                    <p>
                        <h3>Invoice?</h3>
                        Do you wish to buy more than five tickets and/or prefer an invoice?
                        Use the form above and select the option <strong>Pay using invoice (more than 5 tickets)</strong> when completing your order.
                        For 5 tickets or less we charge an extra fee of 100kr for invoices.
                    </p>
                }
                else
                {
                    <p>
                        You can can start buying tickets on Tuesday 1 of November 10:00! (don't miss our early bird special)<br />
                        Would you like a reminder? Add yourself to our mailing list!
                    </p>
                    @*<p>
                Tickets for Swetugg 2023 have sold out. If we are able to open sales again, we will announce it on <a href="https://twitter.com/swetugg">Twitter</a> and <a href="https://facebook.com/swetugg">Facebook</a>, so make sure to follow us there!
            </p>*@
                    @*<p>
                If you haven't already signed up for our newsletter, do so now and you won't miss the conference next time around!
            </p>*@
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//swetugg.us8.list-manage.com/subscribe/post?u=f8f35c45f37445d5d813b270c&amp;id=5260e75d8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group form-group">
                                    <label for="mce-EMAIL">Email</label>
                                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group form-group">
                                    <label for="mce-FNAME">First name</label>
                                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group form-group">
                                    <label for="mce-LNAME">Last name</label>
                                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f8f35c45f37445d5d813b270c_5260e75d8e" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default"></div>
                            </div>
                        </form>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

<section id="contact" class="even-section content-section contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="noSubtitle">Contact us</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    We are happy to answer questions, listen to feedback or suggestions for the future. Maybe you would like to volunteer?
                    Don't hesitate to contact us at <a href="mailto:info@swetugg.se">info@swetugg.se</a>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline banner-buttons">
                    <li>
                        <a href="https://twitter.com/swetugg" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/swetugg" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="members" class="content-section odd-section members-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    The board
                </h2>
                <div class="member">
                    <div class="member-name">Cecilia Wirén</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/CeciliaSHARP">@@CeciliaSHARP</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Fabian Miiro</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/iloabn">@@iloabn</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Magnus Sax</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/Magnus_Sax">@@Magnus_Sax</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Andrea Klintelius</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/drea1112">@@drea1112</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Mattias Karlsson</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/devlead">@@devlead</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Ulrika Bladh</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/mubladh">@@mubladh</a>
                    </div>
                </div>
                <div class="member">
                    <div class="member-name">Anders Ljusberg</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/CodingInsomnia">@@CodingInsomnia</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    The Team
                </h2>
                <div class="member">
                    <div class="member-name">Jessica Engström</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/EngstromJess">@@EngstromJess</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Jimmy Engström</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/EngstromJimmy">@@EngstromJimmy</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Rickard Öh</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/kalasp">@@kalasp</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Daniel Hindrikes</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/hindrikes">@@hindrikes</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Sebastian Rosengren</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/srrosengren">@@srrosengren</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Joakim Olesen</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/joakim_olesen">@@joakim_olesen</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Magnus Timner</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/MTimner">@@MTimner</a>
                    </div>
                </div>

                <div class="member">
                    <div class="member-name">Mattias Lögdberg</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/mlogdberg">@@mlogdberg</a>
                    </div>
                </div>
                
                <div class="member">
                    <div class="member-name">Viktor Karlström</div>
                    <div class="member-twitter">
                        <a href="https://twitter.com/karlstroems">@@karlstroems</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div id="map"></div>*@

<footer>
    <section id="mainFooter" class="footer-section">
        <div class="container" id="footer">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Location</h3>
                    <p>
                        @{
                            var locationUrl = "https://www.google.se/maps/place/Lustikulla+Konferens+%26+Event/@59.3126667,18.0266579,15z/data=!4m7!3m6!1s0x0:0x6eb3cf96f0cdbe7f!5m1!1s2018-09-23!8m2!3d59.3126667!4d18.0266579";
                        }
                        <strong style="font-size: 24px;">Lustikulla Konferens & Event</strong><br />
                        Liljeholmsvägen 18<br />
                        117 61 Stockholm
                    </p>
                </div>
                <div class="col-sm-8">
                    <h4>Subway/bus stop</h4>
                    <p>Liljeholmen</p>
                    <h4>Coordinates</h4>
                    <p>
                        <a href="@locationUrl" target="_blank">59.3126, 18.0266</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @*<script>
            initializeMap();
        </script>
    *@
}

@section meta {
    <meta property="og:image" content="https://swetugg.se/content/sthlm-2023/img/swetugg-rosa-kvadrat.png" />
    <meta property="og:description" content="Swetugg is back in Stockholm with another interesting, fun, and affordable conference in February 2023" />
}
