@using Swetugg.Web.Models
@Html.AntiForgeryToken()
@model ImageType

@{
    ViewBag.Title = "Image Type - Edit";
    Conference conference = ViewBag.Conference;
    var buttonLabel = "Create";

    var id = Model != null && Model.Id != 0 ? (int?)Model.Id : null;
    if (id != null)
    {
        buttonLabel = "Update";
    }
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Conferences", "Index", "ConferenceAdmin")</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "ConferenceAdmin", new { conference.Id }, null)</li>
    <li>@Html.ActionLink("Image types", "Index", "ImageTypeAdmin")</li>
    <li class="active">@buttonLabel</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Image type</h3>
    </div>
    @using (Html.BeginForm("Edit", "ImageTypeAdmin", new { id }, FormMethod.Post))
    {
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Width)
                                @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Width)
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Height)
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Height)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Publish settings
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Slug)
                                @Html.TextBoxFor(m => m.Slug, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Slug)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@buttonLabel</button>
        </div>
    }
</div>
